flask
gunicorn
gevent
gevent.pygevent
cryptography
flask-socketio
uvicorn[standard]>=0.30.0
dnspython>=2.0.0
google-generativeai
groq
psycopg2-binary
requests
python-dotenv
beautifulsoup4
Flask-Failsafe
pgvector
aiohttp